<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%= render "doctors/nav" %>
<div class="container" style="width:50%">
<h3 class="text-center">Create New Appointment</h3>
<%= form_with model: @appointments do | form | %>
    <div>
    <%= form.label :appointment_date %>
    <%= form.datetime_field :appointment_date, class:"form-control" %>
    </div><br>
    <div>
    <%= form.label :doctor_id %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name%>
    </div>
    <!-------------
    # <div>
    # <%= form.label :patient_id %>
    # <%= form.collection_select :patient_id, Patient.all, :id, :name%>
    # </div>
    ---------->
    <%= form.hidden_field :parent_id  %>
    <div>
    <%= form.submit class:"btn btn-success btn-sm" %>
    <%= link_to "Back", patients_path, class:"btn btn-outline-primary btn-sm" %>
    </div>
<%end%>


</div>   
</body>
</html>